{% extends "base.html" %}
{% block title %}Submit a recipe{% endblock %}
{% block content %}
<div class="col-md-8 mx-auto">
  <h1>Submit a recipe</h1>
  <p class="text-muted">Fill out the form below to submit your recipe for approval.</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
      {{ form.title }}
    </div>
    <div class="mb-3">
      <label for="{{ form.image.id_for_label }}" class="form-label">{{ form.image.label }}</label>
      {{ form.image }}
    </div>
    <div class="mb-3">
      <label for="{{ form.excerpt.id_for_label }}" class="form-label">{{ form.excerpt.label }}</label>
      {{ form.excerpt }}
    </div>
    <div class="mb-3">
      <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
      {{ form.description }}
    </div>
    <div class="mb-3">
      <label for="{{ form.ingredients.id_for_label }}" class="form-label">{{ form.ingredients.label }}</label>
      {{ form.ingredients }}
    </div>
    <div class="mb-3">
      <label for="{{ form.steps.id_for_label }}" class="form-label">{{ form.steps.label }}</label>
      {{ form.steps }}
    </div>
    <div class="mb-3">
      <label for="{{ form.tags.id_for_label }}" class="form-label">{{ form.tags.label }}</label>
      {{ form.tags }}
    </div>
    <div class="row">
      <div class="col">
        {{ form.prep_minutes.label_tag }}
        {{ form.prep_minutes }}
      </div>
      <div class="col">
        {{ form.cook_minutes.label_tag }}
        {{ form.cook_minutes }}
      </div>
      <div class="col">
        {{ form.servings.label_tag }}
        {{ form.servings }}
      </div>
    </div>
    {# status is set server-side and not exposed to front-end users #}
    <button class="btn btn-primary">Submit recipe</button>
  </form>
</div>
{% endblock %}